body,
html {
  padding: 0;
  margin: 0;

  height: 100vh;
  width: 100%;
}

canvas {
  background: #1b1b1b;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
}

#menu__container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
}

#menu__container div[data-menu] {
  display: none;
  width: 300px;
  overflow: hidden;
  pointer-events: none;
}

#menu__container div[data-menu].current {
  display: block;
  pointer-events: all;
}

#menu__container ul {
  margin-left: 0;
  padding-left: 0;
}

#menu__container ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

#menu__container ul li button {
  cursor: pointer;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.5s ease;
  border: 0;
  color: #fafafa;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
}

#menu__container ul li button:hover {
  background: rgba(0, 0, 0, 0.1);
}

#menu__container ul li button:active,
#menu__container ul li button:focus {
  box-shadow: none;
  outline: none;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
